/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
  background-color: #1f002b;
}

b {
  font-family: 'Anton', sans-serif;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 3rem;
}
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .001rem .5rem #9f0cbc;
  z-index: 1;
  background-color: #270036;
  /* background-image: linear-gradient(#2e003f, #2d005b); */
  )
}
.nav-item {
  padding: .5rem;
  font-family: 'Varela Round', sans-serif;
}
.nav-link {
  color: #5b5555!important;
  text-shadow: #01dafb;
}
.nav-link.active,
.nav-link:hover {
  color: #01dafb!important;
}
.nav-info {
  margin: auto .6rem;
}

/* LANDING PAGE */
#devName {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  opacity: .8;
  color: #1f002b!important;
  text-shadow: 2px 2px 0.2rem  #01dafb, -2px -2px 0.2rem #f500bd;
  transition: all .75s;
}
#devName:hover {
  text-shadow: 0 0 2rem  #01dafb, 0px 0px 2rem #f500bd;
  transition: all .75s;
}
#underline {
  width: 10%;
  transition: all 2s;
}
#underline:hover {
  width: 20%;
  transition: all 2s;
}
#welcome {
  font-size: 30px;
}

/* Headings */
.subtitle {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  opacity: .8;
  color: #1f002b!important;
  text-shadow: 2px 2px 0.2rem  #01dafb, -2px -2px 0.2rem #f500bd;
  transition: all .75s;
}
.subtitle:hover {
  text-shadow: 0 0 2rem  #01dafb, 0px 0px 2rem #f500bd;
  transition: all .75s;
}

/* About Me */
.about {
  border-radius: 1rem;
  border-color: #01dafb!important;
  border-width: thick!important;
}
.profile {
  border-radius: 1rem;
}
.story {
  font-size: 1rem;
}
.school {
  text-decoration: none;
  color: #01dafb;
}


/* Projects */
.project-item {
  background-color:#270036;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  
}

/*===== FIXED BACKGROUND IMG =====*/
.fixed {
  background-image: url("../img/neon-background.jpg");
  position: fixed;
}
.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
  padding: 1rem 0;
}

/*-- Bootstrap --*/
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.text-right {
  text-align: right !important;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

/*============= FOOTER =============*/
footer {
  background-color: #270036!important;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p,
footer a,
.socket a {
  color: white;
  text-decoration: none;
}
ul.social {
  list-style: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover {
  color: #68a0d2;
}
textarea,
input {
  width: 250px;
}

/*============= SOCKET =============*/
.socket {
  background-color: #222222!important;
  box-shadow: 0 -.001rem .5rem #9f0cbc;
}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}